<ion-view view-title="Clients">
  <ion-content>
    <div class="list">
        <!--put ng-repeat into <A-->
       
                <a class="item item-thumbnail-left" ng-click='show()'>
                  <img src="img/ionic.png">
                  <h2>Pretty Hate Machine</h2>
                  <p>Nine Inch Nails</p>
                </a>  
        
                <a class="item item-thumbnail-left" ng-click='show()'>
                  <img src="img/ionic.png">
                  <h2>Pretty Hate Machine</h2>
                  <p>Nine Inch Nails</p>
                </a>  
         
    </div>
  </ion-content>
</ion-view>

