<ion-view view-title="Contact Me">
  <ion-content>
    <div class="list card">

    <div class="item item-avatar">
    <img src="img/contact.png">
      <h2>Josep Roman Martinez Riera</h2>
      <p>Barcelona Spain</p>
      <p>pepinho@gmail.com</p>
    </div>

    <div class="item item-body">
      <img class="full-image" src="img/response.png">
      <p>
        My name is Josep Roman. I have developed the application client, the server and the data base.
        I have used ionic and angular for the client side, the server is base on Node.js and the database is MongoDB.
        To make the graphs I used specific libraries angular-chart.
        If someone want to contact with me for some projects contact on the email adress.

        Thanks.
      </p>

    </div>

  </div>
  </ion-content>
</ion-view>
