<ion-view>
  <ion-nav-bar class="bar bar-calm">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>
      <h4 style="color:#fff">{{client.company_name}}  Contacts</h4>
     </ion-nav-title>
    <ion-nav-buttons side="right">
     <button class="button button-clear" ng-click="createNewContactModal()"><i class="icon ion-compose" ></i></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <div class="list">
      <div ng-repeat="contact in client.contacts | orderBy:'name'">
        <a class="item item-avatar" ng-click="show(contact)">
          <img src="img/contact.png">
          <h2>{{contact.name}}  {{contact.category}}</h2>
          <p><i class="icon ion-ios-telephone-outline"></i> {{contact.phone}}</p>
          <p><i class="icon ion-email"></i> {{contact.email}}</p>
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
