<ion-view>
  <ion-nav-title>
    <h4 style="color:#fff">List {{actionsSort.labelDefine}} Actions</h4>
   </ion-nav-title>
  <ion-content>
    <div class="list">
      <div ng-repeat="define in actionsSort.define">
        <a class="item item-avatar" ng-click="goActionDetail(define)">
          <img src="img/define.png">
          <div class="row">
            <div class="col">
                <h4><i class="icon ion-android-time"></i> Start Date: <h4>{{define.start_date  | date:'yyyy-MM-dd'}}</h4></h4>
            </div>
            <div class="col">
              <h4><i class="icon ion-ios-briefcase"></i> Client: <h4>{{define.client_name}}</h4></h4>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h4><i class="icon ion-android-create"></i> Description: </h4>
              <h4>{{define.description}}</h4>
            </div>
          </div>
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
