<ion-modal-view>
  <ion-header-bar class="bar bar-balanced">
    <h1 class="title">New Action</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="createAction()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label"> Action Name</span>
          <input type="text" ng-model="action.name" required>
        </label>
         <label class="item item-input">
          <i class="icon ion-android-contacts"></i><button class="button button-light" ng-click="showPopup()"> Client <i class="fa fa-search" aria-hidden="true"></i></button>
          <input type="text" ng-model="action.client_name" required>  
        </label>
        <label class="item item-input">
         <span class="input-label">  <i class="fa fa-pencil" aria-hidden="true"> Description</i></span>
         <textarea ng-model="action.description"required></textarea>
       </label>
       <label class="item item-input">
        <span class="input-label">  <i class="fa fa-clock-o" aria-hidden="true"> Start Date</i></span>
        <input type="date" ng-model="action.start_date"required>
      </label>
         <label class="item item-input">
          <span class="input-label">  <i class="fa fa-hourglass-end" aria-hidden="true"> End Date</i></span>
          <input type="date" ng-model="action.end_date" required>
        </label>
        <label class="item">
          <button class="button button-block button-balanced" type="submit" ng-disabled="editRespForm.$invalid">Create Action</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
