<ion-view view-title="GO Home">
<ion-content>

  <div class="row">
    <div class="col"></div>
    <div class="col col-50">
      <div class="card">
        <a href="#/app/activeActions" class="item item-text-wrap" style="background-color:#387ef5; text-align:center">
          <i style="color:#fff" class="icon ion-power"></i>
          <h2 style="color:#fff">Active Actions</h2>
        </a>
      </div>
    </div>
    <div class="col"></div>
  </div>

  <div class="row">
    <div class="col"></div>
    <div class="col col-50">
      <div class="card">
        <a href="#/app/closeActions" class="item item-text-wrap" style="background-color: #f0b840; text-align:center">
          <i style="color:#fff" class="icon ion-close-circled"></i>
          <h2 style="color:#fff">Close Actions</h2>
        </a>
      </div>
    </div>
    <div class="col"></div>
  </div>

  <div class="row">
    <div class="col"></div>
    <div class="col col-50">
      <div class="card">
        <a href="#/app/clients" class="item item-text-wrap" style="background-color:#11c1f3; text-align:center">
          <i style="color:#fff" class="icon ion-person-stalker"></i>
          <h2 style="color:#fff">Clients</h2>
        </a>
      </div>
    </div>
    <div class="col"></div>
  </div>

  <div class="row">
    <div class="col"></div>
    <div class="col col-50">
      <div class="card">
        <a href="#/app/sales" class="item item-text-wrap" style="background-color:#66cc33; text-align:center">
          <i style="color:#fff" class="icon ion-stats-bars"></i>
          <h2 style="color:#fff">Sales</h2>
        </a>
      </div>
    </div>
    <div class="col"></div>
  </div>

</ion-content>
</ion-view>
