<ion-view view-title="Home">
  <ion-floating-button click="openModal()" has-footer="false" button-color="#ef4e3a" text="Start Actions" icon="ion-plus" icon-color="#fff">
  </ion-floating-button>
  <ion-content>
    <div class="list card">
      <div class="row">
        <div class="col">
            <h3 style="color:#4a87ee;text-align:center"><i class="icon ion-power"> Active Actions</i></h3>
        </div>
      </div>

        <div class="card">
          <a  href="#/app/defineList" class="item item-icon-left" style="background-color:#4a87ee">
            <div class='row'>
              <div class="col">
                  <i style="color:#fff" class="icon ion-edit"></i>
                  <h2 style="color:#fff">{{actionsSort.labelDefine}}</h2>
              </div>
              <div class="col">
                  <h2 style="color:#fff;text-align:right">  {{actionsSort.define.length}} </h2>
              </div>
            </div>
          </a>
        </div>

      <div class="card">
        <a href="#/app/prospectList" class="item item-icon-left" style="background-color:#4a87ee">
          <div class='row'>
            <div class="col">
              <i style="color:#fff" class="icon ion-chatbubbles"></i>
              <h2 style="color:#fff">{{actionsSort.labelProspection}}</h2>
            </div>
            <div class="col">
                <h2 style="color:#fff;text-align:right">  {{actionsSort.prospect.length}}  </h2>
            </div>
          </div>
        </a>
      </div>

      <div class="card">
          <a href="#/app/requestList" class="item item-icon-left" style="background-color:#4a87ee">
            <div class='row'>
              <div class="col">
                <i style="color:#fff" class="icon ion-pull-request"></i>
                <h2 style="color:#fff"> {{actionsSort.labelRequest}} </h2>
              </div>
              <div class="col">
                  <h2 style="color:#fff;text-align:right">{{actionsSort.request.length}}  </h2>
              </div>
            </div>
          </a>
      </div>

    <div class="card">
        <a href="#/app/responseList" class="item item-icon-left" style="background-color:#4a87ee">
          <div class='row'>
            <div class="col">
              <i style="color:#fff" class="icon ion-paper-airplane"></i>
              <h2 style="color:#fff"> {{actionsSort.labelResponse}} </h2>
            </div>
            <div class="col">
                <h2 style="color:#fff;text-align:right">{{actionsSort.response.length}} </h2>
            </div>
          </div>
        </a>
    </div>

</div>
<!--
<div class="row">
  <div class="col" style="text-align:right">
    <a style="text-align:center" class="button button-float button-balanced" ng-click="">
         <i class="icon ion-plus"></i>
    </a>
  </div>
</div>
-->
</ion-content>

</ion-view>
