<ion-view view-title="Home">
  <ion-content>


    <div class="list card">
      <div class="row">
        <div class="col">
            <h3 style="color:#4a87ee;text-align:center"><i class="icon ion-power"> Active Actions</i></h3>
        </div>
      </div>

      <div class="card">
        <a href="#" class="item item-icon-left" style="background-color:#4a87ee">
          <div class='row'>
            <div class="col">
                <i style="color:#fff" class="icon ion-compose"></i>
                    <h2 style="color:#fff">  Definition</h2>
            </div>
            <div class="col">
                <h2 style="color:#fff;text-align:right">  19 </h2>
            </div>
          </div>
        </a>
      </div>

      <div class="card">
        <a href="#" class="item item-icon-left" style="background-color:#4a87ee">
          <div class='row'>
            <div class="col">
              <i style="color:#fff" class="icon ion-chatbubbles"></i>
              <h2 style="color:#fff">Prospection</h2>
            </div>
            <div class="col">
                <h2 style="color:#fff;text-align:right">  12 </h2>
            </div>
          </div>
        </a>
      </div>

      <div class="card">
          <a href="#" class="item item-icon-left" style="background-color:#4a87ee">
            <div class='row'>
              <div class="col">
                <i style="color:#fff" class="icon ion-pull-request"></i>
                <h2 style="color:#fff"> Request </h2>
              </div>
              <div class="col">
                  <h2 style="color:#fff;text-align:right">  10 </h2>
              </div>
            </div>
          </a>
      </div>

    <div class="card">
        <a href="#" class="item item-icon-left" style="background-color:#4a87ee">
          <div class='row'>
            <div class="col">
              <i style="color:#fff" class="icon ion-paper-airplane"></i>
              <h2 style="color:#fff"> Response </h2>
            </div>
            <div class="col">
                <h2 style="color:#fff;text-align:right">9</h2>
            </div>
          </div>
        </a>
    </div>
</div>

<div class="row">
  <div class="col" style="text-align:right">
    <a style="text-align:center" class="button button-float button-balanced" ng-click="">
         <i class="icon ion-plus"></i>
    </a>
  </div>
</div>

</ion-content>

</ion-view>
