<ion-view>
  <ion-nav-title>
    <h4 style="color:#fff">List {{actionsSort.labelRequest}} Actions</h4>
   </ion-nav-title>
  <ion-content>
    <div class="list">
      <div ng-repeat="req in actionsSort.request">
        <a class="item item-avatar" ng-click="goActionDetail(req)">
          <img src="img/request.png">
          <div class="row">
            <div class="col">
                <h4><i class="icon ion-android-time"></i> Start Date: <h4>{{req.start_date  | date:'yyyy-MM-dd'}}</h4></h4>
            </div>
            <div class="col">
              <h4><i class="icon ion-ios-briefcase"></i> Client: <h4>{{req.client_name}}</h4></h4>
            </div>
            <div class='col'>
                <h4><i class="icon ion-android-time"></i> Response Date: <h4>{{req.request.response_date  | date:'yyyy-MM-dd'}}</h4></h4>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h4><i class="icon ion-pricetag"></i> Estimate Budget: {{req.request.estimate_budget}}€</h4>
            </div>
          </div>
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
