<ion-modal-view>
  <ion-header-bar class="bar bar-balanced">


      <button class="button button-clear" ng-click="closeModal()">Close</button>

  </ion-header-bar>
  <ion-content>
    <div class="card">

          <div class="item item-text-wrap">

            <h2 style="color:#c6c6c6;text-align:center">Client {{seriesBar[0]}}</h2>
              <h2 style="color:#c6c6c6;text-align:center">Sales {{year}}</h2>
            <br>
            <canvas id="base" class="chart-horizontal-bar"
            chart-data="dataBar" chart-labels="labelsBar" chart-series="seriesBar" height="350"
                  width="300">
            </canvas>

            </div>
          </div>
  </ion-content>
</ion-modal-view>
